In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/data-science-job-salaries-2024/salaries.csv

In [2]:
import pandas as pd

df = pd.read_csv('/kaggle/input/data-science-job-salaries-2024/salaries.csv')
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2024,SE,FT,AI Engineer,90000,USD,90000,AE,0,AE,L
1,2024,SE,FT,Machine Learning Engineer,180500,USD,180500,US,0,US,M
2,2024,SE,FT,Machine Learning Engineer,96200,USD,96200,US,0,US,M
3,2024,SE,FT,Machine Learning Engineer,235000,USD,235000,AU,0,AU,M
4,2024,SE,FT,Machine Learning Engineer,175000,USD,175000,AU,0,AU,M

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13972 entries, 0 to 13971
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           13972 non-null  int64
 1   experience_level    13972 non-null  object
 2   employment_type     13972 non-null  object
 3   job_title           13972 non-null  object
 4   salary              13972 non-null  int64
 5   salary_currency     13972 non-null  object
 6   salary_in_usd       13972 non-null  int64
 7   employee_residence  13972 non-null  object
 8   remote_ratio        13972 non-null  int64
 9   company_location    13972 non-null  object
 10  company_size        13972 non-null  object
dtypes: int64(4), object(7)
memory usage: 1.2+ MB

In [4]:
df.describe()

          work_year        salary  salary_in_usd  remote_ratio
count  13972.000000  1.397200e+04   13972.000000  13972.000000
mean    2023.085600  1.660011e+05  150028.812124     33.334526
std        0.687612  3.661545e+05   68634.306349     46.682931
min     2020.000000  1.400000e+04   15000.000000      0.000000
25%     2023.000000  1.040000e+05  103000.000000      0.000000
50%     2023.000000  1.422000e+05  141600.000000      0.000000
75%     2024.000000  1.880000e+05  185900.000000    100.000000
max     2024.000000  3.040000e+07  800000.000000    100.000000